* {
   margin: 0px;
   padding: 0px;
}

html {
	margin: 0;
}
body {
	font-size: 2em;
	color: #666;
	margin:0;
}
h1{
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	font-weight: 100;
}
h2{
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 100;
	display: inline-block;
	margin:0 0 1em 0;
	vertical-align: middle;
}
p {
	font-family: 'Poly', serif;
	font-size: 1em;
	line-height: 1.5;
}

hr {
	margin:0;
}
.mainstage{
	margin-left: 1em;
	margin-top:2em;
	padding:0 1rem;
}
.mainstage_border{
	border-left: 5pt solid #ccc;
	padding:1rem 0 0 0;
}
.clear{
	clear:both;
}
.mainstage h3{
	margin-top: -1em;
}
.icon {
	height:15em;
	margin:4.5rem 7.5rem 7.5rem 7.5rem;
}

@media screen and (min-device-width: 641px) {
  	body {font-size: 1em;}
  	.icon {
		height:10em;
		margin:3rem 5rem 5rem 5rem;
	}
	h3	{
		font-family: avenir, sans-serif;
		font-size: 1.5em;
		font-weight: 100;
		display: inline-block;
		margin:0 0 1em 0;
	}
}
}
.quote {
	padding-left: 5em;
}
.introduction {
	width: auto;
	margin:0 auto;
	text-align:center;
	background-color: #ccc;
	padding: 2rem 0;
}
.tools {
	width: 70%;
	margin:0 auto;
	text-align:center;
	padding: 2rem 0;
}
.bmc{
	background-color: #FFCB04;
}

.introduction p {
	margin-top: 1rem;
}

.stage_header{
	padding-left: 1rem;
	margin-top: 5rem;
	border-bottom: 1pt solid #ccc;
}
.first{
	margin-top:1rem;
}

.stage_footer {
	padding-left:1rem;
}

.stage_tools {
	width: auto;
  	white-space: nowrap;
  	overflow-y: hidden;
  	overflow-x: scroll;
  	-webkit-overflow-scrolling: touch;
  	padding: 1rem;
}
.stage_tools a {
    display: inline;
 	height:100%;
 	color: #666;
}
.stage_tools p{
	text-align: center;
	margin-top: -2em;
}
.core {
	background-color: rgb(150,215,220);
}
a.svg {
  position: relative;
  display: inline-block; 
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
.dvf_icon {
	display:block;
	margin-right: 2rem;
	height:4em;
}